In [1]:
def add_number(n1,n2):
    ret = n1+n2
    return ret

def add_txt(t1,t2):
    print(t1+t2)
    
ans = add_number(10,15)
print(ans)
text1 = '대한민국~'
text2 = '만세!!'
add_txt(text1,text2)

25
대한민국~만세!!

In [2]:
def abs(number):
    if number < 0:
        number = -number
    return number

print('-3의 절대값 구하기:', abs(-3))
print('10의 절대값 구하기:', abs(10))
print()
temp = abs(-9)/3 * abs(20) + 3 + abs(-19) 
print('계산 결과:', temp)

-3의 절대값 구하기: 3
10의 절대값 구하기: 10

계산 결과: 82.0

In [3]:
 def hap(a, b):
    result = a + b
    print('두 수의 합을 구해 출력해주는 함수입니다')
    print(a, b, '의 합은 ', result, '입니다')
 
hap(10, 20)
hap(-87, 172)

두 수의 합을 구해 출력해주는 함수입니다
10 20 의 합은  30 입니다
두 수의 합을 구해 출력해주는 함수입니다
-87 172 의 합은  85 입니다

In [4]:
type(hap)

function

In [5]:
import types
type(hap) == types.FunctionType

True

In [6]:
types.FunctionType.__name__

'function'

In [8]:
isinstance(hap,types.FunctionType)

True

In [9]:
def changestr(mystr):
     mystr = mystr + '_changed'
     print ('The string inside the function: {}'.format(mystr))
     return
mystr = 'hello'
changestr(mystr)
 
print(mystr)

The string inside the function: hello_changed
hello

In [10]:
def changestr(mystr):
     print(id(mystr))
     mystr = mystr + '_changed'
     print ('The string inside the function: {}'.format(mystr))
     print(id(mystr))
     return
mystr = 'hello'
changestr(mystr)
 
print(mystr)

140252309839088
The string inside the function: hello_changed
140252328930032
hello

In [11]:
# 두 개의 값과  함수를 매개변수로 받는 함수를 정의
def perform_calc(value1, value2, func):
     return func(value1, value2)
 
# 넘겨줄 수학 함수를 정의
def mult_values(value1, value2):
     return value1 * value2

#함수 호출
print(perform_calc(2, 4, mult_values))
 
#  넘겨줄 또 다른 함수를 정의
def add_values(value1, value2):
     return value1 + value2
 
print(perform_calc(2, 4, add_values))

8
6

In [13]:
def report(message, who = 'Everyone'):
    print(message,who)
    
report('good morning')
report('good morning', 'Mr.Park')

good morning Everyone
good morning Mr.Park

In [17]:
def func(a,b):
    print(a,b,sep="-")


func('py','thon')  #위치로 매핑

func('py', b='thon')

SyntaxError: positional argument follows keyword argument (1653274311.py, line 9)

In [18]:
def print_personnel(name, position="staff",nationality="Korea"):
       print("name = {0}".format(name))
       print("position = {0}".format(position))
       print("nationality = {0}".format(nationality))
       print("\n")
 
print_personnel("박길동")
 
print_personnel(nationality="ROK", name="박길동")
 
print_personnel(position="인턴", name="박길동")

name = 박길동
position = staff
nationality = Korea


name = 박길동
position = staff
nationality = ROK


name = 박길동
position = 인턴
nationality = Korea

In [19]:
def select_event(*arg):
    result = []
    for num in arg:
        if num % 2 == 1:
            continue
        result.append(num)
    return result

select_event(1,2,3,4,5,6,7,8,9,10)

[2, 4, 6, 8, 10]

In [20]:
select_event(-12,2,81,99,48,20)

[-12, 2, 48, 20]

In [22]:
def merge_string(*text_list):
    result=""
    for s in text_list:
        result= result + s + " "
    return result

merge_string('홍길동', '김길동')

'홍길동 김길동 '

In [26]:
def print_team(**players):
    for k in players:
        print('{} = {}'.format(k,players[k]))
        
print_team(카시아스='GK', 호널두='FW', 알론소='MF', 페페 = 'DF')

카시아스 = GK
호널두 = FW
알론소 = MF
페페 = DF

In [27]:
def print_team(**players):
    for k in players.keys():
            print('{0} = {1}'.format(k, players[k]))
        
print_team(카시아스='GK', 호널두='FW', 알론소='MF', 페페 = 'DF')

카시아스 = GK
호널두 = FW
알론소 = MF
페페 = DF

In [28]:
def func1(*args):  
   print(args)
 
def func2(width, height, **kwargs):
   print(kwargs)
 
func1()                          # 빈 튜플 ( ) 이 출력됨
func1(3, 5, 1, 5)               # (3, 5, 1, 5)가 출력됨
func2(10, 20)                  # 빈 사전 { }이 출력됨
func2(10, 20, depth=50, color='blue')  #{‘depth’:50, ‘color’:’blue’} 이 출력됨

()
(3, 5, 1, 5)
{}
{'depth': 50, 'color': 'blue'}

In [31]:
def turnNone(value):
    x = value
    
turnNone(100)

In [32]:
def turnValue(value):
    return value*10

turnValue(100)

1000

In [33]:
def turnSet(value):
    return (value, value+1, value+2)
turnSet(100)

(100, 101, 102)

In [34]:
def turnTuple(value):
    return value, value-1, value-2

turnTuple(100)

(100, 99, 98)

In [36]:
def print_odd(start, end):
    '''주어진 범위에서 홀수를 리스트로 만들어 주는 함수입니다.
    start: 시작 값을 지정합니다.
    end: 끝 값을 지정합니다.'''
    result = []
    for num in range(start, end+1):
        if num%2 == 0:
            continue
        result.append(num)
 
    return result
 
help(print_odd)
print('-' * 50)
print_odd.__doc__ = '''변경은 여기서 합니다'''
help(print_odd)
print('-' * 50)
print(print_odd(3, 19))

Help on function print_odd in module __main__:

print_odd(start, end)
    주어진 범위에서 홀수를 리스트로 만들어 주는 함수입니다.
    start: 시작 값을 지정합니다.
    end: 끝 값을 지정합니다.

--------------------------------------------------
Help on function print_odd in module __main__:

print_odd(start, end)
    변경은 여기서 합니다

--------------------------------------------------
[3, 5, 7, 9, 11, 13, 15, 17, 19]