# 난수 발생 테스트

In [ ]:
from time import sleep
import random as rnd

#rnd.seed(0) # 1회성 난수 발생 고정
data = []
for i in range(5):
    data.append(rnd.randint(-5, 5)) # -5 ~ 5
print(data)

In [17]:
while True:
    # sleep(0.5) # 0.5초
    sleep(3) # 3초
    temperature = rnd.randint(-5, 5)
    print(temperature) # -5 ~ 5

KeyboardInterrupt:

# Python 연동테스트

In [1]:
from time import sleep
import numpy as np
import random as rnd
 
import cx_Oracle  # Oracle
# import pymysql  # MariaDB, MySQL
 
import pandas as pd
 
# import mysql.connector
from sqlalchemy import create_engine  # Pandas -> Oracle

ModuleNotFoundError: No module named 'sqlalchemy'

In [2]:
# 등록, SQL 마지막 부분에 세미콜론이 있으면 에러가 발생함으로 삭제 할 것
# Oracle Connection 연결, user1234 계정으로 XE 사용.
conn = cx_Oracle.connect('admin/Gksmf336!@database-1.cxfxuru6havp.ap-northeast-2.rds.amazonaws.com:1521/ORCL')
cursor = conn.cursor()
 
sql = '''
INSERT INTO ondo(ondono, kit, ondo, rdate)
VALUES(ondo_seq.nextval, :kit, :ondo, sysdate)
''' 
result = cursor.execute(sql, ('amk3', 23.5))
print('result:', result) # None: 정상 처리, Exception: 에러
cursor.execute(sql, ('amk3', 24.5))
cursor.execute(sql, ('amk3', 25.5))
conn.commit() # sql commit;과 동일

DatabaseError: DPI-1047: Cannot locate a 64-bit Oracle Client library: "dlopen($/usr/local/oracle/instantclient_19_8/lib/libclntsh.dylib, 1): image not found". See https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html for help

In [19]:
# 목록
sql = '''
  SELECT ondono, kit, ondo, TO_CHAR(rdate, 'yyyy-mm-dd hh:mi:ss') as rdate 
  FROM ondo 
  ORDER BY ondono DESC
'''
cursor.execute(sql)
rows = cursor.fetchall() # 모든 레코드의 산출
# print(type(rows))
# print(np.array(rows).shape)
# print(rows)
# print(type(rows[0]))  # <class 'tuple'>
for row in rows:
    fmt = "{0}, {1}, {2}, {3}"
    print (fmt.format(row[0], row[1], row[2], row[3]))

NameError: name 'cursor' is not defined